<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>购物车页面</title>
	<link rel="stylesheet" href="{:config('home_static')}/style/base.css" type="text/css">
	<link rel="stylesheet" href="{:config('home_static')}/style/global.css" type="text/css">
	<link rel="stylesheet" href="{:config('home_static')}/style/header.css" type="text/css">
	<link rel="stylesheet" href="{:config('home_static')}/style/cart.css" type="text/css">
	<link rel="stylesheet" href="{:config('home_static')}/style/footer.css" type="text/css">

	<script type="text/javascript" src="{:config('home_static')}/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="{:config('home_static')}/js/cart1.js"></script>
	<script type="text/javascript" src="/plugin/layer/layer.js"></script>
</head>
<body>
	<!-- 顶部导航 start -->
	{include file="public/nav" /}
	<!-- 顶部导航 end -->
	
	<div style="clear:both;"></div>
	
	<!-- 页面头部 start -->
	<div class="header w990 bc mt15">
		<div class="logo w990">
			<h2 class="fl"><a href="index.html"><img src="{:config('home_static')}/images/logo.png" alt="京西商城"></a></h2>
			<div class="flow fr">
				<ul>
					<li class="cur">1.我的购物车</li>
					<li>2.填写核对订单信息</li>
					<li>3.成功提交订单</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 页面头部 end -->
	
	<div style="clear:both;"></div>

	<!-- 主体部分 start -->
	<div class="mycart w990 mt10 bc">
		<h2><span>我的购物车</span></h2>
		<table>
			<thead>
				<tr>
					<th class="col1">商品名称</th>
					<th class="col2">商品信息</th>
					<th class="col3">单价</th>
					<th class="col4">数量</th>	
					<th class="col5">小计</th>
					<th class="col6">操作</th>
				</tr>
			</thead>
			<tbody>
				<?php $count_price = 0;
				foreach($cartData as $k=>$data):; ?>	
				<tr>
					<td class="col1"><a href=""><img src="/upload/{:json_decode($data['goodsInfo']['goods_middle'])[0]}" alt="" /></a>  <strong><a href="">{$data['goodsInfo']['goods_name']}</a></strong></td>
					<td class="col2"> {$data['attrInfo']['singleAttr']} </td>
					<?php 
					$price = $data['attrInfo'][attr_total_price] + $data['goodsInfo']['goods_price']; 
					?>
					<td class="col3">￥<span>{$price}.00</span></td>
					<td class="col4" goods_id="{$data['goods_id']}" goods_attr_ids="{$data['goods_attr_ids']}"> 
						<a href="javascript:;" class="reduce_num"></a>
						<input type="text" name="amount" value="{$data['goods_number']}" class="amount"/>
						<a href="javascript:;" class="add_num"></a>
					</td>
					<?php
					 $price_number = $price*$data['goods_number'];
					  ?>
					<td class="col5">￥<span>{$price_number}.00</span></td>
					<td class="col6">
						<a href="javascript:;" class="delCartGoods" goods_attr_ids="{$data['goods_attr_ids']}" goods_id="{$data['goods_id']}">删除</a>
					</td>
				</tr>
				<?php 
				$count_price += $price_number;
				 endforeach; ?>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6">购物金额总计： <strong>￥ <span id="total">{$count_price}.00</span></strong></td>
				</tr>
			</tfoot>
		</table>
		<div class="cart_btn w990 bc mt10">
			<a href="/" class="continue">继续购物</a>
			<a href="javascript:;" style="margin-left: 60px;" id="emptyCart" class="continue">清空购物车</a>
			<a href="{:url('home/order/orderinfo')}" class="checkout">结 算</a>
		</div>
	</div>
	<!-- 主体部分 end -->

	<div style="clear:both;"></div>
	<!-- 底部版权 start -->
	<div class="footer w1210 bc mt15">
		<p class="links">
			<a href="">关于我们</a> |
			<a href="">联系我们</a> |
			<a href="">人才招聘</a> |
			<a href="">商家入驻</a> |
			<a href="">千寻网</a> |
			<a href="">奢侈品网</a> |
			<a href="">广告服务</a> |
			<a href="">移动终端</a> |
			<a href="">友情链接</a> |
			<a href="">销售联盟</a> |
			<a href="">京西论坛</a>
		</p>
		<p class="copyright">
			 © 2005-2013 京东网上商城 版权所有，并保留所有权利。  ICP备案证书号:京ICP证070359号 
		</p>
		<p class="auth">
			<a href=""><img src="{:config('home_static')}/images/xin.png" alt="" /></a>
			<a href=""><img src="{:config('home_static')}/images/kexin.jpg" alt="" /></a>
			<a href=""><img src="{:config('home_static')}/images/police.jpg" alt="" /></a>
			<a href=""><img src="{:config('home_static')}/images/beian.gif" alt="" /></a>
		</p>
	</div>
	<!-- 底部版权 end -->
</body>
<script type="text/javascript">
	//移除购物车商品
	$(".delCartGoods").click(function(){
		var _self = $(this);
		var goods_id = _self.attr('goods_id');
		var goods_attr_ids = _self.attr('goods_attr_ids');
		layer.confirm("确定要删除?",{bth:['确定','取消']},function(){
			$.get("{:url('home/cart/ajaxDelGoods')}",{"goods_id":goods_id,"goods_attr_ids":goods_attr_ids},function(json){
				if(json.code == 200){
					_self.parent().parent().remove();
					layer.msg(json.message,{"icon":1,"time":1500});
				}else{
					layer.msg(json.message,{"icon":0,"time":1500});
				}	
			},'json');
		},function(){
			layer.closeAll();
		});
	});
	//清空购物车
	$("#emptyCart").click(function(){
		layer.confirm("主人,😭确定要清空购物车吗?",{bth:['清空','算了']},function(){
			$.get("{:url('home/cart/emptyCart')}",{},function(json){
				if(json.message){
					layer.msg(json.message,{"icon":1,"time":1500});
					$('tbody').html('');
				}else{
					layer.msg(json.message,{"icon":0,"time":1500});
				}
			},'json');
		},function(){
			layer.closeAll();
		})
	});
</script>
</html>
